.vacation {
    background-size: cover;
    box-shadow: 4px 4px 4px black;
    height: 192px;
    width: 256px;
    position: relative;
    float: left;
    padding: 8px;
    margin: 8px;
    text-align: center;
    color: black;
    overflow: hidden;
    transition: padding-right 250ms;
}

.vacation:nth-child(4n-3) {
    background-color: #c90;
}

.vacation:nth-child(4n-2) {
    background-color: #0c9;
}

.vacation:nth-child(4n-1) {
    background-color: #09c;
}

.vacation:nth-child(4n) {
    background-color: #9c0;
}

.vacation:hover {
    padding-right: 48px;
}

.vacation h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.25em;
}

.vacation .date {
    line-height: 1em;
}

.vacation .picture {
    position: relative;
    display: inline-block;
    height: 128px;
    width: 128px;
}

.vacation .picture .pic-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 32px black,
    4px 4px 4px rgba(0,0,0,.5);
}

.vacation .picture .price {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 128px;
    border: 1px solid black;
    border-radius: 4px;
    background: transparent linear-gradient(to top, rgba(0,0,0,.75), rgba(0,0,0,.5));;
    color: white;
    text-shadow: 0.07em 0.07em 0 black;
    box-shadow: 0.07em 0.07em 0 black;
    font-size: 1.5em;
}

.vacation .icon {
    z-index: 999;
}

.vacation .icon {
    opacity: 0;
    transition: opacity 250ms;
}

.vacation::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: width 250ms;
}

.vacation:hover .icon {
    opacity: 1;
}

.vacation:hover::after {
    width: 40px;
}

.icon {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 4px;
}

.icon-x, .icon-tag {
    top: 4px;
}

.icon-pencil {
    top: 40px;
}

.icon-pencil, .icon-tag, .icon-x {
    cursor: pointer;
}